html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
  background: #E5E5E5;
  background-color: #fff;
  color: #000;
  margin-top: 152px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}