.container {
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.big-container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}