.features {
  padding-bottom: 70px;
}

.features__container {
  display: flex;
  align-items: center;
}

.features__img {
  width: 750px;
  height: 613px;
  display: block;
  margin-right: 25px;
}

.features__right-wrapper {
  margin-left: 25px;
}

.features__heading {
  width: 550px;
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: $black-text;
  background-image: url("/img/heading-bg.svg");
  background-repeat: no-repeat;
  background-position: left center;

  &::before {
    margin-bottom: 10px;
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #FFD600;
  }
}

.features__text {
  width: 550px;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.features__list {
  @include reset-list;
}

.features__item:not(:last-child) {
  margin-bottom: 18px;
}

.feature {
  display: inline-flex;
}

.feature::before {
  margin-right: 20px;
  flex-shrink: 0;
  content: "";
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.expert::before {
  background-image: url("/img/features-expert.png");
}

.tech::before {
  background-image: url("/img/features-tech.png");
}

.location-img::before {
  background-image: url("/img/features-location.png");
}


@include retina-bg {

.expert::before {
  background-image: url("/img/features-expert@2x.png");
}

.tech::before {
  background-image: url("/img/features-tech@2x.png");
}

.location-img::before {
  background-image: url("/img/features-location@2x.png");
}

}