.hero {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -15px;
  overflow-x: hidden;
  background: #E5E5E5;
}

.hero__wrapper {
  position: relative;
  z-index: 1;
}

.hero__container {
  position: absolute;
  z-index: 1;
  top: 33%;
  left: 4.7%;
  max-width: 570px;
}

.hero__list {
  @include reset-list;
}

.hero__img {
  padding-right: 360px;
  max-width: 1920px;
  height: 800px;
}

.hero__bigtext{
  margin: 0;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: $black-text;
}

.hero__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
  color: $black-text;
}

.hero__link {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $blue;
  border-radius: 5px;
  padding: 20px 110px;
  border-radius: 5px;
  color: $white-text;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.hero__btn {
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $yellow;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.previous {
  top: 80%;
  left: 6%;
  width: 42px;
  height: 70px;
  margin-right: 9px;
  background-image: url("/img/left-previous-img.svg");
}

.next {
  top: 80%;
  left: 10%;
  width: 70px;
  height: 70px;
  background-image: url("/img/next-img.svg");
}


// RESPONSIVE
@include breakpoint-down (1190) {
  .hero__img {
    max-width: 1800px;
  }
}


@include breakpoint-down (1130) {
  .hero__img {
    max-width: 1700px;
    height: 650px;
  }
}


@include breakpoint-down (1100) {
  .hero__img {
    max-width: 1600px;
    height: 640px;
  }

  .next {
    left: 11%;
  }
}


@include breakpoint-down (1040) {
  .hero__img {
    max-width: 1500px;
    height: 600px;
  }
}


// TABLET
@include breakpoint-down (980) {

  .hero {
    margin-top: -75px;
  }
  .hero__img {
    max-width: 1500px;
    height: 600px;
  }
}


@include breakpoint-down (940) {
  .hero__img {
    max-width: 1450px;
    height: 570px;
  }

  .next {
    left: 12%;
  }
}


@include breakpoint-down (870) {

  .hero__img {
    max-width: 1600px;
    height: 650px;
    margin-left: -350px;
    margin-right: auto;
  }

  .hero__link {
    display: none;
  }

  .previous {
    top: 65%;
  }

  .next {
    top: 65%;
    left: 12%;
  }

  .hero__container {
    position: relative;
    z-index: 1;
  }

  .hero__item {
    background-color: #fff;
  }

  .hero__text {
    margin: 0;
    padding-top: 20px;
    max-width: 400px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 21px;
  }

  .hero__bigtext {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    max-width: 333px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    background-color: #fff;
  }
}

@include breakpoint-down (770) {
  .hero__img {
    margin-left: -400px;
  }

  .next {
    left: 14%;
  }
}

@include breakpoint-down (770) {
  .hero__img {
    margin-left: -450px;
  }
}

@include breakpoint-down (640) {
  .hero__img {
    margin-left: -500px;
  }
}

@include breakpoint-down (570) {
  .hero__img {
    margin-left: -550px;
  }

  .next {
    left: 16%;
  }
}

@include breakpoint-down (470) {
  .hero__img {
    margin-left: -600px;
  }

  .next {
    left: 18%;
  }
}
