.location-top__heading {
  color: $black-text;
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 13px;
}

.big-container {
  padding: 10px;
  position: relative;
}

.location-top__text {
  width: 879px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 25px;
  color: #4D4D4D;
  text-align: center;
  font-weight: 400;
  margin-bottom: 27px;
}

.location__form {
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 20%;
}