.site-header {
  padding-top: 12px;
  padding-bottom: 52px;
  position: fixed;
  z-index: 50;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
}


// OPEN CLOSE TOGGLER
.site-header__toggler {
  display: none;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 25px;
  height: 18px;
  background-image: url("/img/gamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 18px;
  margin-right: 20px;
  outline: none;
}

.site-header--open .site-header__toggler {
  background-image: url("/img/close-toggler-img.svg");
}

// TABLET RESPONSIVE
@include breakpoint-down (980) {

  .container {
    padding: 0;
  }

  .site-header {
    padding: 0;
  }
}

// .SMARTPHONE RESPONSIVE
@include breakpoint-down (870) {

  .site-header__toggler {
    display: block;
  }
}